.nav-link:hover {
  color: rgb(65, 246, 150) !important;
  border-radius: 10px;
}

.navbar-brand {
  font-family: "Goblin One", cursive; 
}

.navbar-brand:hover {
  color: rgb(65, 246, 150) !important;
}

.nav-item:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

.active {
  color: rgb(65, 246, 150) !important;
  border-bottom: 5px solid rgb(65, 246, 150);
  border-radius: 10px;
}

