.header {
  
}

i:hover {
  background-color: #eff2f5;
  color: rgb(65, 246, 150) !important;
  border-radius: 10px;
}

.navbar-brand {
  font-family: "Goblin One", cursive; 
}

.nav-item:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

.active {
  color: rgb(65, 246, 150) !important;
  border-bottom: 5px solid rgb(65, 246, 150);
}


.header__search {
  background-color: #eff2f5;
  padding: 7px 15px;
  border-radius: 999px;
}