.postSender__video-photo-upload > .MuiSvgIcon-root {
  cursor: pointer;
  color: rgb(190, 190, 190);
  border-radius: 1rem;
}

.postSender__video-photo-upload > .MuiSvgIcon-root:hover {
    color: rgb(65, 246, 150);
}

.postSender__video-photo-upload:hover {
    cursor: pointer;
    background-color: rgb(231, 230, 230);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

.postSender__video-photo-upload:active {
    transform: scale(0.9);
}