.scheduleCard__info {
  font-size: 1rem;
  text-decoration: none;
}

.card__title {
  font-weight: bold;
}

.card__price {
  font-weight: bold;
  font-size: 1rem;
}

.schedule__card:hover {
  color: blue !important;
  cursor: pointer;
}

.scheduleCard {
    text-decoration: none;
    color: black;
}

.scheduleCard:hover {
    color: rgb(65, 246, 150);
}

.scheduleCard__info:hover {
    background-color: rgb(95, 95, 95) !important;
}